{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Student list</h1>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'student': 'page'}) }}
    {% endif %}

    <form class="input-group input-group-lg" action="{{ path('student') }}" method="post">
        <span class="input-group-addon">
            {{ form_widget(form) }}
            <input type="submit" value="Rechercher" />
        </span>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Login</th>
                <th>Mail</th>
                <th>Phone</th>
                {% if is_granted ('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities.currentPageResults %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.phone }}</td>
                {% if is_granted ('ROLE_ADMIN') %}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('student_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                                <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                                <a href="{{ path('student_delete', { 'id': entity.id }) }}" class="btn btn-default" onclick="return confirm('Supprimer cet étudiant ?');">delete</a>
                            </li>
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'student': 'page'}) }}
    {% endif %}

    {% endblock %}
