{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Student creation</h1>
            <form method="post" {{ form_enctype(form) }}>
                <div class="form-organisation-label">
                    {{ form_label(form.firstname, 'Prénom') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.lastname, 'Nom') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.login, 'login') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.login) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.mail, 'mail') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.mail) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.phone, 'phone') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.phone) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.level, 'level') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.level) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.registerCenter, 'Centre d\'inscription') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.registerCenter) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.reviewsCenters, 'Centre d\'examen') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.reviewsCenters) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.modules, 'Modules') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.modules) }}
                </div>
                <div class="form-organisation-label">
                    {{ form_label(form.examens, ' ') }}
                </div>
                <div class="form-organisation-widget">
                    {{ form_widget(form.examens) }}
                </div>
                {{form_rest(form)}}
            </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('student') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
