{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Renseignez les champs puis accédez à l'application</h1>
    <div class="input-group-addon">
        <div class="container">
            <div class="form-group ">
                {{ form_start(form) }}
                {{ form_row(form.phone, { 'attr': { 'class': 'form-control'}}) }}
                {{ form_row(form.level, { 'attr': { 'class': 'form-control' }}) }}
                {{ form_row(form.registerCenter, { 'attr': { 'class': 'form-control' }}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
