{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
           {<tr>
                <th>Module</th>
                <td>
                    <ul>
                       {% for module in entity.modules %}
                        <li>{{ module.code }} / {{ module.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('student_delete', { 'id': entity.id }) }}" class="btn btn-default">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
