{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ entity.name }}</h1>

    <table class="table">
        <tbody>
            {% if is_granted ('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>mot de passe</th>
                <td>
                    <a href="{{ path('fos_user_change_password')}}" class="btn btn-warning btn-sm">Modifier mon mot de passe</a>
                </td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
           <tr>
                <th>Module</th>
                <td>
                    <form action="{{ path('module') }}" >
                        <input type="submit" value="Ajouter des modules" class="btn btn-success"/>
                    </form>
                    <table>
                        <tbody>
                           {% for module in entity.modules %}
                               <tr>
                               <td>{{ module.code }} / {{ module.name }}</td>
                               <td> <a class="btn-default  btn-xs" href="{{ path('examen_inscription', { 'id': module.id }) }}">choisir un examen de passage</a></td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
