{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Modification</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form.file, { 'attr': {'style':'display:none' }}) }}
    {{ form_label(edit_form.file, ' ')}}
    {{ form_widget(edit_form.student, { 'attr': { 'class': 'form-control', 'style':'display:none' }}) }}
    {{ form_label(edit_form.student, ' ')}}
    {{ form_widget(edit_form.module, { 'attr': { 'class': 'form-control', 'style':'display:none' }}) }}
    {{ form_label(edit_form.module, ' ')}}
    {{ form_row(edit_form.note, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_row(edit_form.save, { 'attr': { 'class': 'btn btn-success' }}) }}
    {{ form_rest(edit_form) }}
{% endblock %}
