{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Note list</h1>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'note': 'page'}) }}
    {% endif %}

    <form class="input-group input-group-lg" action="{{ path('note') }}" method="post">
        <span class="input-group-addon">
            {{ form_widget(form) }}
             <input type="submit" value="Rechercher" />
        </span>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Student</th>
                <th>Module</th>
                <th>Note</th>
                <th>file</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities.currentPageResults %}
            <tr>
                <td><a href="{{ path('note_show', { 'id': entity.id }) }}" class="btn btn-default">{{ entity.id }}</a></td>
                <td>{{ entity.student.name }}</td>
                <td>{{ entity.module.code }} {{ entity.module.name }}</td>
                {% if entity.note is not null %}
                    <td>{{ entity.note }} / 20</td>
                {% else %}
                    <td>
                        {% if ((entity.path is not null) and ( app.user.username == entity.module.responsable.username)) or is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">(noter l'étudiant)</a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if ((entity.path is not null) and ( app.user.username == entity.module.responsable.username or is_granted('ROLE_ADMIN'))) %}
                    <td><a href="{{ path('note_download', { 'slug': entity.path }) }}">{{ entity.path }}</a></td>
                {% else %}
                    <td>
                        {% if is_granted('ROLE_ADMIN')  %}
                            <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">(uploader une copie)</a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li>
                                <a href="{{ path('note_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                                <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                                <a href="{{ path('note_delete', { 'id': entity.id }) }}" class="btn btn-default">delete</a>
                            </li>
                        </ul>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted ("ROLE_SUPER_ADMIN") %}
            <ul>
                <li>
                    <a href="{{ path('note_new') }}" class="btn btn-primary">
                        Create a new entry
                    </a>
                </li>
            </ul>
    {% endif %}

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'note': 'page'}) }}
    {% endif %}

    {% endblock %}
