{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des notes</h1>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'note': 'page'}) }}
    {% endif %}

    <form class="input-group input-group-lg" action="{{ path('note') }}" method="get">
        <span class="input-group-addon">
            {{ form_widget(formModule) }}
            {% if (is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")) and (formStudent is not empty)%}
                {{ form_widget(formStudent) }}
            {% endif %}
        </span>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                {% if is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")%}
                    <th>Student</th>
                {% endif %}
                <th>Module</th>
                <th>Note</th>
                {% if is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")%}
                    <th>file</th>
                {% endif %}
                {% if is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")%}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities.currentPageResults %}
            <tr>
                {% if is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")%}
                    <td>{{ entity.student.name }}</td>
                {% endif %}
                <td>{{ entity.module.code }} {{ entity.module.name }}</td>
                {% if entity.note is defined %}
                    <td>{{ entity.note }} / 20</td>
                {% elseif ((entity.note is null) and ( app.user.username == entity.module.responsable.username)) %}
                    <td><a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">(noter l'étudiant)</a></td>
                {% else %}
                    <td> </td>
                {% endif %}
                <td>
                    {% if ((entity.path is defined) and (is_granted('ROLE_ADMIN'))) %}
                        <a href="{{ entity.getWebPath() }}">{{ entity.path }}</a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">(uploader une copie)</a>
                    {% endif %}
                </td>
                {% if is_granted("ROLE_PROF") or is_granted("ROLE_ADMIN")%}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                            </li>
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'note': 'page'}) }}
    {% endif %}

    {% endblock %}
