{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Création d'une note</h1>
    <div class="input-group-addon">
        <div class="container">
            <div class="form-group ">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if is_granted('ROLE_PROF') %}
                    {{ form_row(form.note, { 'attr': { 'class': 'form-control' }}) }}
                {% endif %}
                {{ form_row(form.student, { 'attr': { 'class': 'form-control' }}) }}
                {{ form_row(form.module, { 'attr': { 'class': 'form-control' }}) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.file) }}
                {% endif %}
                {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-success' }}) }}
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

