{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Note</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.student.firstName }} {{ entity.student.lastName }}</td>
            </tr>
            <tr>
                <th>Module</th>
                <td>{{ entity.module.code }} {{ entity.module.name }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }} / 20</td>
            </tr>
            {% if entity.path is not null %}
                <tr>
                    <th>path</th>
                    <td><a href="{{ path('note_download', { 'slug': entity.path }) }}">{{ entity.path }}</a></td>
                </tr>
             {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('note') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('note_delete', { 'id': entity.id }) }}" class="btn btn-default">
            Delete
        </a></li>
</ul>
{% endblock %}
