{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Note edit</h1>
    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
            {{ form_label(form.student, ' ') }}
            {{ form_widget(form.student, { 'attr' : { 'style':'display:none'} }) }}
            {{ form_label(form.module, ' ') }}
            {{ form_widget(form.module, { 'attr' : { 'style':'display:none'} }) }}
            {{ form_label(form.note, ' ')  }}
            {{ form_widget(form.note, { 'attr' : { 'style':'display:none'} }) }}
            {{ form_label(form.file, '') }}
            {{ form_widget(form.file) }}


            {{form_rest(form)}}

        </form>
    </div>
{% endblock %}