{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Tutor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user.username }}</td>
            </tr>
            <tr>
                <th>RegisterCenter</th>
                <td>{{ entity.registerCenter.name }}</td>
            </tr>

            <tr>
                <th>Module</th>
                <td>
                    <ul>
                        {% for module in entity.modules %}
                        <li>{{ module.code }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tutor') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tutor_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('tutor_delete', { 'id': entity.id }) }}" class="btn btn-default">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
