{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost/reviewmanager/web/bundles/emiagereviewmanager/css/style.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}
    <div class="nav-bar">
        {% include 'EmiageReviewManagerBundle::nav.html.twig' %}
    </div>
    {% block content %}
    {% endblock content%}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
