<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                <ul class="nav navbar-nav" id="menu-deroulant">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                        <li>
                            <a href="{{ path('examen') }}">Examen</a>
                                <ul>
                                    <li><a href="{{ path('examen_new') }}">Ajouter un examen</a></li>
                                </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_PROF') %}
                        <li>
                            <a href="{{ path('level') }}">Niveau</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                        <li>
                            <a href="{{ path('module') }}">Module</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') or is_granted('ROLE_STUD') %}
                        <li>
                            <a href="{{ path('note') }}">Note</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STUD') %}
                        <li>
                            <a href="{{ path('home') }}"> <img src="{{ asset('bundles/emiagereviewmanager/images/HouseIcon.png') }}" /> </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                        <li>
                            <a href="{{ path('registercenter') }}">Centre nationaux</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                        <li>
                            <a href="{{ path('reviewcenter') }}">Centre d'examen</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN')%}
                        <li>
                            <a href="{{ path('student') }}">Etudiant</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('user') }}">Utilisateur</a>
                        </li>
                    {% endif %}
                </ul>

</nav>