<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="topnavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ path('examen') }}">Examen</a>
                </li>
                <li class="active">
                    <a href="{{ path('level') }}">Niveau</a>
                </li>
                <li class="active">
                    <a href="{{ path('module') }}">Module</a>
                </li>
                <li>
                    <a href="{{ path('note') }}">Note</a>
                </li>
                <li>
                    <a href="{{ path('registercenter') }}">Centre nationaux</a>
                </li>
                <li>
                    <a href="{{ path('reviewcenter') }}">Centre d'examen</a>
                </li>
                <li>
                    <a href="{{ path('student') }}">Etudiant</a>
                </li>
                <li>
                    <a href="{{ path('tutor') }}">Tuteur</a>
                </li>
                <li>
                    <a href="{{ path('user') }}">Utilisateur</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>