{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content %}
    <h1>User creation</h1>
    <div class="input-group-addon">
        <div class="container">
            <div class="form-group ">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_start(form) }}
                    {{ form_widget(form.username, { 'attr': { 'class': 'form-control', 'for': 'inputSuccess4'}}) }}
                    {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_widget(form.roles, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_rest(form) }}

                    <div>
                        <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}