{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>RegisterCenter</h1>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('registercenter') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('registercenter_edit', { 'id': entity.id }) }}" class="btn btn-default">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('registercenter_delete', { 'id': entity.id }) }}" class="btn btn-default">
                Delete
            </a>
        </li>
    </ul>
{% endif %}
{% endblock %}
