{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}

    <h1>Liste des examens disponibles</h1>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'examen': 'page'}) }}
    {% endif %}

    {% if form is defined %}
        <form class="input-group input-group-lg" action="{{ path('examen') }}" method="post">
            <span class="input-group-addon">
                {{ form_widget(form) }}
                <input type="submit" value="Rechercher" />
            </span>
        </form>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Module</th>
                <th>ReviewCenter</th>
                <th>Realizedon</th>
                {% if (is_granted("ROLE_ADMIN")) or (is_granted("ROLE_PROF")) %}
                    <th>Student</th>
                {% endif %}
                {% if (is_granted("ROLE_ADMIN")) or (is_granted("ROLE_PROF")) %}
                    <th>Actions</th>
                {% endif %}
                {% if is_granted("ROLE_STUD") %}
                    <th>S'inscrire</th>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Imprimer</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities.currentPageResults %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.module.code }} {{ entity.module.name }}</td>
                {% if entity.reviewCenter is not null %}
                    <td>{{ entity.reviewCenter.name }}</td>
                {% else %}
                    <td>empty</td>
                {% endif %}
                {% if entity.Realizedon is not null %}
                    <td>{{ entity.realizedOn|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>empty</td>
                {% endif %}
                {% if (is_granted("ROLE_ADMIN")) or (is_granted("ROLE_PROF")) %}
                    <td>
                        <ul>
                            {% for student in entity.students %}
                                <li>{{ student.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endif %}
                {% if (is_granted("ROLE_ADMIN")) or (is_granted("ROLE_PROF")) %}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('examen_delete', { 'id': entity.id }) }}" class="btn btn-default" onclick="return confirm('Supprimer cet examen ?');">supprimer</a>
                            </li>
                        </ul>
                    </td>
                {% endif %}
                {% if is_granted("ROLE_STUD") %}
                    <td>
                        <form action="{{ path('examen_addStudent',{ 'id': entity.id }) }}" >
                            <input type="submit" value="s'inscrire" class="btn btn-default"/>
                        </form>
                    </td>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('examen_print', { 'id': entity.id }) }}" class="btn btn-default">Imprimer le PV</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'examen': 'page'}) }}
    {% endif %}

    {% endblock %}
