{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Création d'examen</h1>

    <div class="input-group-addon">
        <div class="container">
            <div class="form-group ">
                {{ form_start(form) }}
                {{ form_row(form.realizedOn, { 'attr': { 'class': 'form-control', 'name': 'date'}}) }}
                {{ form_row(form.module, { 'attr': { 'class': 'form-control' }}) }}
                {{ form_row(form.reviewCenter, { 'attr': { 'class': 'form-control' }}) }}
                {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-success' }}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}


