{% extends '::base.html.twig' %}

{% block body %}

<body onLoad="window.print()">

    <h2>Module : {{ entity.module.code }} {{ entity.module.name }}</h2>
    <h2>Centre d'examen : {{ entity.ReviewCenter.name }}</h2>
    <h2>Date d'examen : {{ entity.realizedOn|date('Y-m-d H:i:s') }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>login</th>
                <th>Name</th>
                <th>Emargement</th>
            </tr>
        </thead>
        <tbody>
        {% for student in entity.students %}
            <tr>
                <td> {{ student.login }} </td>
                <td> {{ student.name }} </td>
                <td> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
