{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Examen</h1>

    <table class="record_properties">
        <tbody>
            {% if is_granted ('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Realizedon</th>
                <td>{{ entity.realizedOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted ('ROLE_ADMIN') %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('examen') }}" class="btn btn-default">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('examen_edit', { 'id': entity.id }) }}" class="btn btn-default">
                    Edit
                </a>
            </li>
            <li>
                <a href="{{ path('examen_delete', { 'id': entity.id }) }}" class="btn btn-default">
                    Delete
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
