{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Module list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Responsable</th>
                <th>file</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('module_show', { 'id': entity.id }) }}" class="btn btn-default">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                {% if entity.responsable is not null %}
                    <td>{{ entity.responsable.username }}</td>
                {% else %}
                    <td>empty</td>
                {% endif %}
                {% if entity.path is not null %}
                    <td><a href="{{ path('module_download', { 'slug': entity.path }) }}"> {{ entity.path }} </a></td>
                {% else %}
                    <td>empty</td>
                {% endif %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('module_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                        <a href="{{ path('module_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                        <a href="{{ path('module_delete', { 'id': entity.id }) }}" class="btn btn-default">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('module_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
