{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    {% if is_granted('ROLE_STUD') %}
        <h1>S'inscrire à un module</h1>
    {% else %}
        <h1>Module list</h1>
    {% endif %}

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'module': 'page'}) }}
    {% endif %}

    <form class="input-group input-group-lg" action="{{ path('module') }}" method="post">
        <span class="input-group-addon">
            {{ form_widget(form) }}
            <input type="submit" value="Rechercher" />
        </span>
    </form>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted ('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Code</th>
                <th>Name</th>
                {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_PROF')) %}
                    <th>Responsable</th>
                {% endif %}
                {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_PROF')) %}
                    <th>file</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
                {% if is_granted('ROLE_STUD') %}
                    <th>
                       S'inscrire
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities.currentPageResults %}
                <tr>
                    {% if is_granted ('ROLE_SUPER_ADMIN') %}
                        <td><a href="{{ path('module_show', { 'id': entity.id }) }}" class="btn btn-default">{{ entity.id }}</a></td>
                    {% endif %}
                    <td>{{ entity.code }}</td>
                    <td>{{ entity.name }}</td>
                    {% if (entity.responsable is not null) and ((is_granted('ROLE_ADMIN')) or (is_granted('ROLE_PROF')))%}
                        <td>{{ entity.responsable.username }}</td>
                    {% endif %}
                    {% if (entity.path is not null) and ((is_granted('ROLE_ADMIN')) or (is_granted('ROLE_PROF')))  %}
                        <td><a href="{{ path('module_download', { 'slug': entity.path }) }}"> {{ entity.path }} </a></td>
                    {% elseif is_granted('username') == entity.responsable.username %}
                        <td><a href="{{ path('module_edit', { 'id': entity.id }) }}" class="btn btn-default">(Ajouter le contenu)</a></td>
                    {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                        <td></td>
                    {% endif %}
                    {% if is_granted('ROLE_STUD') %}
                        <td>
                            <form action="{{ path('student_addModule',{ 'id': entity.id }) }}" >
                                <input type="submit" value="s'inscrire" />
                            </form>
                        </td>
                    {% endif %}
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul>
                                <li>
                                    <a href="{{ path('module_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                                    <a href="{{ path('module_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                                    <a href="{{ path('module_delete', { 'id': entity.id }) }}" class="btn btn-default" onclick="return confirm('Supprimer ce module ?');">delete</a>
                                </li>
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted ('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('module_new') }}" class="btn btn-primary">
                    Create a new entry
                </a>
            </li>
        </ul>
    {% endif %}

    {% if entities.haveToPaginate %}
        {{ pagerfanta(entities, 'default', {'module': 'page'}) }}
    {% endif %}

    {% endblock %}
