{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification de votre mot de passe</h1>
    <div class="input-group-addon">
        <div class="container">
            <div class="form-group ">
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    {{ form_start(form) }}
                    {{ form_row(form.current_password, { 'attr': { 'class': 'form-control'}}) }}
                    {{ form_row(form.new.first, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_row(form.new.second, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_rest(form) }}

                    <div>
                        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}